.greenBack{
    background-color: green;
}
.yellowBack{
    background-color: yellow;
}
.orangeBack{
    background-color:orange;
}
.redBack{
    background-color: red;
}
.purpleBack{
    background-color:purple;
}